
/* General styles */

@font-face {
    font-family: 'BitGame';
    src: url('../source/font/Compixs-Regular.otf') format('opentype'),
         url('../source/font/Compixs-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'BitGame', sans-serif;
}
  
.bg {    
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  z-index: -1; 
  overflow: hidden;
}

.bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    background-size: cover;
}

.bgBlackBox {
    background-color: rgba(0, 0, 0, 0.712);
    border: 3px solid #ffff;
    width: 45%;
    height: 25%;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-left: 40%;
    margin-top: 40%;
    margin-bottom: 50%;
    margin-right: 50%;
    color: white;
    font-size: 20px;
    position: fixed;
    text-align: center;
    font-weight: bold;
    font-family: 'BitGame', sans-serif;
}

/* Left main dex styles */

.mainDex {
    background-image: url('../source/img/2.png');
    width: 110%; 
    height: 110%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
}

  #circle-container {
    display: flex; 
    justify-content: start; 
    position: fixed;
    top: 10px; 
    transform: translate(-350px, 205px);
    z-index: 2; 
  }
  
  #big-circle {
    width: 70px;
    height: 70px;
    background-color: #146b9f;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #000000, 0 0 0 15px #e9eef3, 0 0 0 16px #000000;
    position: fixed;
    margin-right: 30px;
  }
  
  #blinking-light {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: fixed;
  top: 17px;
  left: 17px;
  animation: lightCircleBlinks 5s ease 0s infinite alternate none;
  }

  @keyframes lightCircleBlinks{
    0%{
      background-color: #146b9f;
      box-shadow: none;
    }
    97%{
      background-color: #146b9f;
      box-shadow: none;
    }
    100%{
      background-color: rgb(0 255 255 / 25%);
      box-shadow: 0 0 40px 0 #0ff;
    }
  }
  
  .small-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    border: 1px solid #000000;
    transition: all 2s;
    margin-right: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); 
  }
  
  #small-circle-red {
    background-color: #710000;
    top: 20px; 
    left: 100px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); 
  }
  
  #small-circle-yellow {
    background-color: #c3ba00; 
    top: 20px;
    left: 130px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); 
  }
  
  #small-circle-green {
    background-color: #1f743b;
    top: 20px; 
    left: 160px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); 
  }

  /* mid dex styles */

  .container-IMG {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translate(0px, 0px);
  }

  .small-circle-menu {
    background-color: #710000; 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000000;
    position: fixed;
    transform: translate(-290px, 90px);
  }

  #small-circle-menu {
    animation: circleMenuBlinks 2s ease 3s infinite;
  }

  @keyframes circleMenuBlinks{
    0%{
      background-color: #710000;
      box-shadow: none;
    }
    90%{
      background-color: #710000;
      box-shadow: none;
    }
    100%{
      background-color: rgb(255 0 0 / 25%);
      box-shadow: 0 0 9px 0 #f00;
    }
  }

  .gender-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translate(-100px, 47px);
  }

  .gender {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    transform: translate(15px, 0px);
    cursor: pointer;
}

/* lower dex styles */

  #name-row{
    display: flex;
    justify-content: center;
  }

  #name-container{
    width: 400px; 
    height: 100px;
    display: flex;
    position:fixed;
    align-items: center;
    justify-content: center;
    transform: translate(-270px, 115px);
  }

  #name-screen{
    background-color: #52af5f;
    color: white;
    height: 45px;
    width: 150px;
    border: 1px solid #000000;
    text-align: center;
    font-size: 12px;
    display:flex;
    align-items: center;
    padding-left: 5px;
    text-transform: capitalize;
    box-shadow: inset 1px 1px #306938, inset 2px 2px #000000;
  } 

  #arrows-container {
    display: flex;
    transform: translate(-70px, 200px);
    position: fixed;
  }
  
  div#upT
      {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #111;
          position: absolute;
          top: 5px;
          left: 4px;
      }
  
      div#downT
      {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #111;
  
          position: absolute;
          bottom: 5px;
          left: 4px;
      }
  
      div#leftT
      {
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-right: 10px solid #111;
          border-bottom: 10px solid transparent;
  
          position: absolute;
          top: 5px;
          left: 4px;
      }
  
      div#rightT
      {
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-left: 10px solid #111;
          border-bottom: 10px solid transparent;
  
          position: absolute;
          top: 5px;
          right: 5px;
      }
  
      div#midCircle
      {
          width: 20px;
          height: 20px;
  
          position: absolute;
          top: 5px;
          left: 4px;
  
          border-radius: 30px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -o-border-radius: 30px;
  
          background: radial-gradient(#111, #222);
          background: -webkit-radial-gradient(#111, #222);
          background: -moz-radial-gradient(#111, #222);
          background: -o-radial-gradient(#111, #222);
      } 
  div#cross
      {
          width: 90px;
          height: 90px;
  
          position: relative;
      }
  
      div#topcross
      {
          width: 30px;
          height: 30px;
          background-color: #222;
      cursor: pointer;
  
          position: absolute;
          top: 0;
          left: 30px;
  
          box-shadow: 3px 2px 0px 0px #010101;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
      }
    div#topcross:active div#upT{
      border-bottom: 10px solid #9b9d6e;
    }
  
      div#leftcross
      {
          width: 30px;
          height: 30px;
          background-color: #222;
          z-index: 1;
      cursor: pointer;
  
          position: absolute;
          left: 0;
          top: 30px;
  
          box-shadow: 0px 4px 0px -2px #010101, 
                  1px 6px 0px -2px #010101, 
                  2px 7px 0px -2px #010101;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
      }
    div#leftcross:active div#leftT{
      border-right: 10px solid #9b9d6e;
    }
  
      div#midcross
      {
          width: 30px;
          height: 30px;
          background-color: #222;
  
          position: absolute;
          top: 30px;
          left: 30px;
  
          box-shadow: -3px 2px #010101;
          -webkit-box-shadow: -3px 2px #010101;
          -moz-box-shadow: -3px 2px #010101;
          -o-box-shadow: -3px 2px #010101;
      }
  
      div#rightcross
      {
          width: 30px;
          height: 30px;
          background-color: #222;
      cursor: pointer;
  
          position: absolute;
          top: 30px;
          right: 0;
  
          box-shadow: 1px 3px 0 2px #010101;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
      }
    div#rightcross:active div#rightT{
      border-left: 10px solid #9b9d6e;
    }
  
      div#botcross
      {
          width: 30px;
          height: 30px;
          background-color: #222;
      cursor: pointer;
  
          position: absolute;
          bottom: 0;
          left: 30px;
  
          box-shadow: 2px 3px #010101, 3px 4px #010101;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
      }
    div#botcross:active div#downT{
      border-top: 10px solid #9b9d6e;
    }
  
  #buttons-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    transform: translate(-150px, 170px);
  }
  #button-red{
    width: 40px;
    height: 10px;
    background-color: #710000;
    border-radius: 20px;
    margin-bottom: 3px;
    border: 1px solid #000000;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4px;
    box-shadow: 1px 1px #89061c,
                2px 2px #89061c,
                3px 3px #000000;
    position: relative;
  }
  #button-red:active{
    box-shadow: none;
    top: 3px;
    right: -3px;
  }
  #button-blue{
    width: 40px;
    height: 10px;
    background-color: #146b9f;
    margin-top: 3px;
    border: 1px solid #000000;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4px;
    box-shadow: 1px 1px #0f537b,
                2px 2px #0f537b,
                3px 3px #000000;
    position: relative;
  }
  #button-blue:active{
    box-shadow: none;
    top: 3px;
    right: -3px;
  }
  .light{
    height: 5px;
    width: 5px;
    border: 1px solid #232323;
    border-radius: 50%;
  }
  .on{
    background-color: #e3e98e;
  }
  .off{
    background-color: #232323;
  }
  
  /* Footer left dex styles */
.footer-left {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#list-row{ 
    display: flex;
    justify-content: center;
} 

#list-container{
     width: 400px;
     height: 100px; 
     display: flex; 
     align-items: fixed; 
     justify-content: space-between; 
     position:fixed; 
     transform: translate(-348px, 215px);
    } 

#list-screen{ 
    background-color: #52af5f; 
    color: white; 
    height: 45px; 
    width: 150px; 
    border: 1px solid #000000; 
    text-align: center; 
    font-size: 12px; 
    display:flex; 
    align-items: center; 
    padding-left: 5px; 
    text-transform: capitalize; 
    box-shadow: inset 1px 1px #306938, inset 2px 2px #000000; 
}

@media only screen and (max-width: 1026px) {
    .mainDex, .mainsc {
        display: none;
    }
    .bgTooSmall {
        display: show;
    }
}

@media only screen and (min-width: 1026px) {
    .midDex, .mainsc {
        display: show;
    }
    .bgTooSmall {
        display: none;
    }
}

.soundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translate(40px, -100px);
}

#stats-container{ 
    display: flex;
    justify-content: center;
} 

#screen-container{
     width: 480px;
     height: 100px; 
     display: flex; 
     align-items: fixed; 
     justify-content: space-between; 
     position:fixed;     
    } 

#desc-screen{ 
    background-color: #000000; 
    color: white; 
    height: 200px; 
    width: 320px; 
    border: 1px solid #000000; 
    text-align: center; 
    font-size: 16px; 
    display:flex; 
    align-items: center; 
    padding-left: 5px; 
    text-transform: capitalize; 
    box-shadow: inset 1px 1px #ffff, inset 2px 2px #ffffff; 
    transform: translate(330px, -120px);
}

#desc-screen ul {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
    text-align: left;
}

#type-row{ 
    display: flex;
    justify-content: center;
} 

#type-container{
     width: 400px;
     height: 100px; 
     display: flex; 
     align-items: fixed; 
     justify-content: space-between; 
     position:fixed; 
     transform: translate(290px, 100px);
    } 

#type-screen{ 
    background-color: #fff; 
    color: black; 
    height: 35px; 
    width: 70px; 
    border: 1px solid #000000; 
    text-align: center; 
    font-size: 16px; 
    display:flex; 
    align-items: center; 
    padding-left: 5px; 
    text-transform: capitalize; 
    box-shadow: inset 1px 1px #ffff, inset 2px 2px #000000; 
}

#typ-placeholder-row{ 
    display: flex;
    justify-content: center;
} 

#typ-placeholder-container{
     width: 400px;
     height: 100px; 
     display: flex; 
     align-items: fixed; 
     justify-content: space-between; 
     position:fixed; 
     transform: translate(370px, 100px);
    } 

#typ-placeholder-screen{ 
    background-color: #fff; 
    color: black; 
    height: 35px; 
    width: 70px; 
    border: 1px solid #000000; 
    text-align: center; 
    font-size: 16px; 
    display:flex; 
    align-items: center; 
    padding-left: 5px; 
    text-transform: capitalize; 
    box-shadow: inset 1px 1px #ffff, inset 2px 2px #000000; 
}

#height-row{ 
    display: flex;
    justify-content: center;
} 

#height-container{
     width: 400px;
     height: 100px; 
     display: flex; 
     align-items: fixed; 
     justify-content: space-between; 
     position:fixed; 
     transform: translate(290px,145px);     
    } 

#height-screen{ 
    background-color: #000000; 
    color: white; 
    height: 35px; 
    width: 120px; 
    border: 1px solid #000000; 
    text-align: center; 
    font-size: 16px; 
    display:flex; 
    align-items: center; 
    padding-left: 5px; 
    text-transform: capitalize; 
    box-shadow: inset 1px 1px #ffff, inset 2px 2px #ffffff; 
}

#weight-row{ 
    display: flex;
    justify-content: center;
} 

#weight-container{
     width: 400px;
     height: 100px; 
     display: flex; 
     align-items: fixed; 
     justify-content: space-between; 
     position:fixed; 
     transform: translate(290px, 200px);
    } 

#weight-screen{ 
    background-color: #000000; 
    color: white; 
    height: 35px; 
    width: 120px; 
    border: 1px solid #000000; 
    text-align: center; 
    font-size: 16px; 
    display:flex; 
    align-items: center; 
    padding-left: 5px; 
    text-transform: capitalize; 
    box-shadow: inset 1px 1px #ffff, inset 2px 2px #ffffff; 
}

#buttons-form-attk-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    transform: translate(340px, 130px);
  }
  #button-form{
    width: 140px;
    height: 35px;
    background-color: #710000;
    border-radius: 20px;
    margin-bottom: 3px;
    border: 1px solid #000000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
    box-shadow: 1px 1px #89061c,
                2px 2px #89061c,
                3px 3px #000000;
    position: relative;
    text-align: center;
    color: white;
    font-size: 12px;
  }

  #button-form:active{
    box-shadow: none;
    top: 3px;
    right: -3px;
  }

  #button-atk{
    width: 140px;
    height: 35px;
    background-color: #146b9f;
    margin-top: 3px;
    border: 1px solid #000000;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px #0f537b,
                2px 2px #0f537b,
                3px 3px #000000;
    position: relative;
    text-align: center;
    color: white;
    font-size: 12px;
  }

  #button-atk:active{
    box-shadow: none;
    top: 3px;
    right: -3px;
  }

  .lights{
    height: 10px;
    width: 10px;
    margin: 5px;
    border: 1px solid #232323;
    border-radius: 50%;
  }

  .on{
    background-color: #e3e98e;
  }

  .off{
    background-color: #232323;
  }

  #buttons-prev-next-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    transform: translate(340px, 130px);
  }
  #button-prev{
    width: 70px;
    height: 25px;
    background-color: #000000;
    border-radius: 20px;
    margin-bottom: 3px;
    border: 1px solid #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
    box-shadow: 1px 1px #ffffff,
                2px 2px #ffffff,
                3px 3px #000000;
    position: relative;
    text-align: center;
    color: white;
    font-size: 10px;
    transform: translate(-60px, 100px);
  }

  #button-prev:active{
    box-shadow: none;
    top: 3px;
    right: -3px;
  }

  #button-next{
    width: 70px;
    height: 25px;
    background-color: #000000;
    border-radius: 20px;
    margin-bottom: 3px;
    border: 1px solid #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
    box-shadow: 1px 1px #ffffff,
                2px 2px #ffffff,
                3px 3px #000000;
    position: relative;
    text-align: center;
    color: white;
    font-size: 10px;
    transform: translate(30px, 70px);
  }

  #button-next:active{
    box-shadow: none;
    top: 3px;
    right: -3px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: white;
    font-family: 'BitGame', sans-serif;
  }
